// Duration.
$fast-transition: 0.2s;
$medium-transition: 0.3s;
$long-transition: 0.6s;

// Font properties
$second-font: Montserrat, 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
$varela-family: 'Varela Round', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;

// Weight
$font-weight: 400;
$font-weight-bold: 600;

// Main colors
$white: #FFFFFF;
$black: #000000;
$shark: #2B2D35;
$ebony-clay: #20232D;
$caribbean-green: #00c8aa;
$raven: #757A86;
$outer-space: #323b40;
$shuttle-gray: #5b666d;
$mirage: #1A242E;
$radical-red: #ff3366;
$dark-shark: #191d22;
$regent-gray: #939da5;

// Secondary colors
$athens-gray: #f2f3f7;
$dove-gray: #747c83;
$light-gray: #F7F7F7;

// Alert forms colors
$green-alert: #27AE60;
$red-alert: #CF000F;